<!DOCTYPE html>
<html lang="pt-br">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="Renan Pires">
		<title>GNRE em lote</title>
        <link href="{{ url_for('static', filename='img/candide-favicon.png') }}" rel="icon">
        <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/em_lote.css') }}" rel="stylesheet">
    </head>
    <body>
        <header>
            <div>
                <h1 id="letrero">GNRE em lote</h1>
            </div>
        </header>
        <section>
            <form method="post" action="#">
                    {{ form.csrf_token }}
                    <div id="catch_data">
                        <div id="data-inicial">
                            {{ form.start_date.label }} {{ form.start_date }}
                        </div>
                        <div id="data-final">
                            {{ form.end_date.label }} {{ form.end_date }}
                        </div>
                    </div>
                    <div id="finish">
                        <button type="submit">
                            Enviar
                        </button>
                        <a href="/gnre_exclusiva">GNRE exclusiva</a>
                    </div>
                </form>
        </section>
        <footer id="rodape">
            <p>&copy; Candide Industria e Comercio ltda. Design: <a href="https://github.com/PiresRenan">Renan Pires</a>.</p>
        </footer>
        <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
    </body>
</html>